.card-container {
    &.fail {
        background-color: red;
    }
    opacity: 1;
    transition: 500ms;
    overflow: none;
    color:blue;
    background-color: azure;
    .card {
        width: 23vw;
        height: 40vh;
        .card-body {
            .card-text {
                height: 20vh;
            }
        }
    }   

}

@media screen and (max-width: 1070px) {
    .card-container {
        .card {
            width: 40vw;
            height: 40vw;
            .card-body {
                .card-text {
                    font-size: 13px;
                    min-height: 30vw;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .card-container {
        .card {
            width: 70vw;
            height: 40vh;
            .card-body {
                .card-text {
                    font-size: 16px;
                    min-height: 20vh;
                }
            }
        }   
    }
}