.closure-container {
    color: azure;
    margin: 0 15vw 0 15vw;
    .header {
        text-align: center;
        font-size: 16px;
    }
    .thoughts {
        margin-bottom: 30px;
    }
    .learned {
        margin-bottom: 30px;
    }
}