.blog-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    color: azure;
    .title {
        font-size:22px;
        margin-bottom: 1vh;
    }
    .blogs {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 3vh;
        .card-container {
            margin-bottom: 10vh;
        }
    }
}

@media screen and (max-width: 875px) {
    .blog-container {
        display: flex;
        flex-direction: column;
        color: azure;
        .title {
            font-size:22px;
            margin-bottom: 1vh;
        }
        .blogs {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 3vh;
            .card-container {
                margin-bottom: 5vh;
            }
        }
    }
}