.blog-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    color: azure;
    .title {
        font-size:22px;
        margin-bottom: 1vh;
    }
    .blogs {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}